---
const {char} = Astro.props

---
<span class="character hover:text-[#ff6347] hover:mix-blend-hard-light transition-all duration-500 m-0 p-0 box-border peer ">{char}</span>

<style>
    .circle {
        animation-fill-mode: forwards;
    }
</style>