---
import Title from "./Title.astro";
import RippleSpan from "./RippleSpan.astro";
import ThemePicker from "./ThemePicker.astro";
---

<section
  id="landing"
  class="w-screen h-screen !overflow-visible ML:grid-cols-5 grid relative text-textColor mix-blend-hard-light"
>
  <RippleSpan id="rootColor" hexColor="#ff0f48" />
  <RippleSpan id="rainColor" hexColor="#3498db" />
  <RippleSpan id="goldColor" hexColor="#00ff00" />

  <nav
    id="sectionNav"
    class="grid grid-cols-2 ML:grid-cols-1 text-xs leading-3 font-medium ML:col-span-2 p-4
    ML:h-2/3 ML:w-2/3
    tablet:text-sm tablet:p-10
    laptop:text-medium"
  >
    <div class="grid grid-rows-2">
      <span class="font-semibold animate-navFadeIn opacity-0"
        >FACUNDO TALAVERA</span
      >
      <a
        href="#projects"
        class="animate-navFadeIn animation-delay-100 opacity-0
        py-[0.25rem] mr-3 h-3/5 ml-0 bg-textColor flex justify-center items-center text-black transition-all duration-500
        MM:w-3/5
        ML:w-4/5 ML:h-4/5
        tablet:mr-0 tablet:text-center tablet:inline-block
        laptop:text-left laptop:px-2 laptop:h-3/5"
        >TALK TO ME</a
      >
    </div>
    <div class="grid grid-rows-2 text-right
                 ML:text-left">
      <span class="animate-navFadeIn animation-delay-200 opacity-0"
        >FULL STACK DEVELOPER</span
      >
      <span class="flex animate-navFadeIn animation-delay-300 opacity-0"
        >AVAILABLE FOR REMOTE WORK</span
      >
    </div>
  </nav>
  <div class="w-full flex row-span-2 ML:col-span-3 justify-end">
    <ThemePicker />
    <div class="w-1/5 ML:w-3/5"></div>
    <Title />
  </div>
  <div
    id="sectionFooter"
    class="animate-footerFadeIn flex items-end p-4 ML:col-span-2
    tablet:p-10"
  >
    <span class="laptop:text-xl"
      >I am a fullstack developer based in Misiones, Argentina who likes to
      craft digital solutions.</span
    >
  </div>
  <svg class="absolute hidden">
    <filter id="texture">
      <feTurbulence type="turbulence" baseFrequency="0.65"></feTurbulence>
    </filter>
  </svg>
</section>
<style>
  #landing::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    filter: url("#texture");
    z-index: -1;
  }

  #landing {
    transition: 2s;
    background: radial-gradient(
      circle at 100%,
      black 50%,
      var(--gradient-via) 55%,
      black 75%
    );
  }

  @media (min-width: 768px) {
    #landing {
      background: radial-gradient(
        circle at 120%,
        black 50%,
        var(--gradient-via) 55%,
        black 75%
      );
      mix-blend-mode: hard-light;
    }
  }

  @media (min-width: 1440px) {
    #landing {
      background: radial-gradient(
        circle at 120%,
        black 25%,
        var(--gradient-via) 45%,
        black 50%
      );
      mix-blend-mode: hard-light;
    }
  }
</style>

<script>
  document.getElementById("rainColor").classList.add("animate-ripple");
  document.body.classList.remove("!overflow-visible");
  document.body.classList.add("!overflow-hidden");

  setTimeout(function () {
    document.getElementById("rainColor").classList.remove("animate-ripple");
    document.body.classList.remove("!overflow-hidden");
    document.body.classList.add("!overflow-visible");

  }, 3000);
</script>
