---
const { id, hexColor} = Astro.props;
---

<span id={id}
    class=`circle absolute ripple aspect-square w-[150vw] left-full top-1/2 -translate-y-1/2 -translate-x-1/2 rounded-full border-gradientVia opacity-0 border-[0.2rem] box-content p-2 -z-10 laptop:rounded-[50%] laptop:w-[100vw]
            laptopL:left-[120%] bg-[${hexColor}] border-previousColor`
  >
</span>
<style>
  .circle {
    animation-fill-mode: forwards;
  }
</style>
