---

---

<div
  id="themepickerId"
  class="rounded-lg left-4 p-1/2 !overflow-visible absolute z-50 flex justify-center items-center aspect-square peer animate-themePickerFadeIn
				ML:top-52
				tablet:top-[14rem] tablet:left-10
                laptop:absolute laptop:left-[60%] laptop:top-10
                laptopL:left-[25%]"
>
  <div
    class="h-8 aspect-square rounded-lg border-4 bg-gradientVia border-textColor hover:cursor-pointer transition"
  >
  </div>
</div>
<div
  class="top-[8.5rem] left-4 rounded-lg p-1/2 overflow-hidden w-8 absolute z-50 flex flex-col justify-evenly items-center transition h-4 invisible
      
 			ML:mr-[5%] ML:my-[.25rem] ML:top-60
			tablet:top-[15.75rem] tablet:left-10
      laptop:absolute laptop:left-[60%] laptop:top-[4.25rem]
      laptopL:left-[25%]
			peer-hover:visible hover:visible peer-hover:h-28 hover:h-28"
>
  <div
    id="root"
    class="h-8 aspect-square rounded-lg border-4 bg-[#ff0f48] border-[#fad190] hover:cursor-pointer transition"
  >
  </div>
  <div
    id="rain"
    class="h-8 aspect-square rounded-lg border-4 bg-[#3498db] border-[#F0F8FF] hover:cursor-pointer transition"
  >
  </div>
  <div
    id="gold"
    class="h-8 aspect-square rounded-lg border-4 bg-[#00ff00] border-[#FFD700] hover:cursor-pointer transition"
  >
  </div>
</div>
<script>
  function rain() {
    document.body.classList.add("rain");
    document.body.classList.remove("gold");
    document.getElementById("rainColor").classList.add("animate-ripple");
    document.body.classList.remove("bg-black");
    document.body.classList.remove("bg-pink-600");
    document.body.classList.add("bg-emerald-600");

    setTimeout(function () {
      document.getElementById("rainColor").classList.remove("animate-ripple");
    }, 3000);
  }
  function gold() {
    document.body.classList.add("gold");
    document.body.classList.remove("rain");
    document.getElementById("goldColor").classList.add("animate-ripple");
    document.body.classList.remove("bg-emerald-600");
    document.body.classList.remove("bg-black");
    document.body.classList.add("bg-pink-600");

    setTimeout(function () {
      document.getElementById("goldColor").classList.remove("animate-ripple");
    }, 3000);
  }
  function root() {
    document.body.classList.remove("rain");
    document.body.classList.remove("gold");
    document.getElementById("rootColor").classList.add("animate-ripple");
    document.body.classList.remove("bg-emerald-600");
    document.body.classList.remove("bg-pink-600");
    document.body.classList.add("bg-black");

    setTimeout(function () {
      document.getElementById("rootColor").classList.remove("animate-ripple");
    }, 3000);
  }

  document.getElementById("rain")!.addEventListener("click", rain);
  document.getElementById("gold")!.addEventListener("click", gold);
  document.getElementById("root")!.addEventListener("click", root);

  function colorPallette() {
    if (window.matchMedia("(prefers-color-scheme:dark)").matches) {
      console.log("prefers dark scheme");
    }
    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme:dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  }
  colorPallette();
  document.addEventListener("astro:beforeload", colorPallette);
</script>
