---
import Char from "./Char.astro";
---

<div
  id="title"
  class="h-full flex flex-col justify-between items-end pr-4 font-strong text-[5.5rem] leading-[5rem]
  MM:text-[5.5rem] MM:leading-[5.5rem]
  ML:h-4/5 ML:my-auto ML:text-[6rem] ML:leding-[6rem] ML:justify-evenly
  tablet:text-[8rem] tablet:leading-[8rem] tablet:pr-10
  laptop:text-[9rem] laptop:leading-[9rem] laptop:h-full laptop:p-10 laptop:justify-between
  laptopL:text-[10rem] laptopL:leading-[10rem]"
>
  <div class="flex animate-tittleFadeIn opacity-0 animation-delay-500">
    <Char char="F" />
    <Char char="U" />
    <Char char="L" />
    <Char char="L" />
  </div>
  <div class="flex animate-tittleFadeIn opacity-0 animation-delay-600">
    <Char char="S" />
    <Char char="T" />
    <Char char="A" />
    <Char char="C" />
    <Char char="K" />
  </div>
  <div class="flex animate-tittleFadeIn opacity-0 animation-delay-700">
    <Char char="W" />
    <Char char="E" />
    <Char char="B" />
  </div>
  <div class="flex animate-tittleFadeIn opacity-0 animation-delay-800">
    <Char char="D" />
    <Char char="E" />
    <Char char="V" />
  </div>
</div>
