---
import Char from "./Char.astro";
---
<div
  class="w-4/5 h-full flex flex-col font-strong text-[5rem] mt-[2%] leading-[5rem] 
  MM:text-[5.5rem] MM:leading-[5.5rem]
  ML:w-2/5  ML:text-[6.5rem] ML:leading-[6.5rem] ML:pt-[30%] ML:items-end ML:justify-start 
  tablet:text-[10.25rem] tablet:leading-[10.25rem] tablet:pt-[10.5%] tablet:mt-[0%] 
  laptop:text-[12rem] laptop:leading-[12rem]  laptop:pt-[7.5%] 
  
  laptopL:text-[8rem] laptopL:leading-[8rem] laptopL:mr-[10%] 
  "
>
  <div class="flex "
    >
    <Char char="J" />
    <Char char="U" />
    <Char char="N" />
    <Char char="I" />
    <Char char="O" />
    <Char char="R" />
      </div
  >
  <div class=" flex">
    <Char char="F" />
    <Char char="U" />
    <Char char="L" />
    <Char char="L" />
  </div>
  <div class=" flex">
    <Char char="S" />
    <Char char="T" />
    <Char char="A" />
    <Char char="C" />
    <Char char="K" />
  </div>
  <div class=" flex">
    <Char char="W" />
    <Char char="E" />
    <Char char="B" />
  </div>
  <div class="flex ">
    <Char char="D" />
    <Char char="E" />
    <Char char="V" />
  </div>
</div>
