---
import Char from "./Char.astro";
---

<div
  id="title"
  class="w-4/5 h-full flex flex-col justify-between items-end mr-[5%] font-strong text-[5.5rem] mt-[2%] leading-[5rem] animate-tittleFadeIn
  MM:text-[5.5rem] MM:leading-[5.5rem]
  ML:text-[6rem] ML:leading-[6rem] ML:mt-[30%] tablet :bg-white
  tablet:text-[8rem] tablet:leading-[8rem] tablet:mt-[15%]
  laptop:mt-[7.5%] laptop:text-[9rem] laptop:leading-[9rem]
  laptopL:text-[10rem] laptopL:leading-[10rem] laptopL:mr-[10%] laptopL:mt-[5%]"
>
  <div class="flex">
    <Char char="F" />
    <Char char="U" />
    <Char char="L" />
    <Char char="L" />
  </div>
  <div class="flex">
    <Char char="S" />
    <Char char="T" />
    <Char char="A" />
    <Char char="C" />
    <Char char="K" />
  </div>
  <div class="flex">
    <Char char="W" />
    <Char char="E" />
    <Char char="B" />
  </div>
  <div class="flex">
    <Char char="D" />
    <Char char="E" />
    <Char char="V" />
  </div>
</div>
