---
//const { id, hexColor } = Astro.props;
---

<div
  class="laptop:w-[60vmin] w-[80vmin] h-[112vmin] laptop:h-[84vmin] projectElement relative"
>
  <a
    href="https://fa2112.github.io/destinos-turisticos/"
    draggable="false"
    target="_blank"
  >
    <img
      draggable="false"
      src="img/img2.jpg"
      alt="Destinos turisticos"
      class="object-cover object-center laptop:w-[240vmin] w-[360vmin] h-[112vmin] laptop:h-[84vmin]"
    />
    <div
      class="absolute text-white laptop:text-3xl w-full h-full left-0 top-0 bg-[rgba(0,0,0,0.3)]"
    >
      <div
        class="relative flex justify-center items-center w-full h-full font-strong"
      >
        DESTINOS TURISTICOS
      </div>
    </div>
  </a>
</div>
